.nav-bar {
    color: lightpink;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
      margin-top: 20;
      margin-left: 150;
      margin-right: 30;
      padding: 20;
      list-style-type: none;

}